:root {
  --main-text: #ffffff;
  --main-dark: #282c34;
  --main-medium: #464646;
  --main-btn: rgb(239, 239, 239);
  --main-hover: rgb(225, 225, 225);
  --main-menu-bg: #c4c4c4;
  --main-label: #8b898a;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a {
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--main-text);
}

a:hover {
  text-decoration: underline;
}

*:focus,
*:active,
*:enabled {
  border-radius: 0;
}

ul {
  display: block;
  list-style: none;
  border-radius: 2px;
}

li {
  display: inline;
  text-align: center;
  list-style: none;
}

button,
a.button {
  appearance: button;
  border: none;
  border-radius: 0;
  text-decoration: none;
  letter-spacing: normal;
  color: var(--main-dark, black);
  background-color: var(--main-btn);
  cursor: pointer;
}

button:hover,
a.button:hover {
  text-decoration: none;
  background-color: var(--main-hover);
}

nav ul {
  padding: 0;
  margin: 0;
}

nav button,
nav .button {
  font-weight: 500;
  padding: 5px 10px;
  font-size: 1em;
}

label,
.label {
  display: block;
  font-size: 10px;
  color: var(--main-label);
  margin: 0 0 4px 0;
  font-weight: normal;
  text-transform: uppercase;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 1.5rem 28px;
  min-height: 74px;
  background-color: var(--main-dark, black);
  justify-content: left;
  align-items: center;
  color: white;
  z-index: 10;
}

.header > * {
  margin-right: 28px;
}

.header > *:last-child {
  margin-right: 0;
}

.header * {
  vertical-align: middle;
  border-radius: 0;
}

.header__nav {
  position: absolute;
  height: auto;
  right: 0;
}

.header__nav li {
  padding: 0 16px;
  font-size: 13px;
}

.header__nav li:last-child {
  padding-right: 28px;
}

.sidebar__toggle {
  display: inline-block;
}

.sidebar__toggle:hover {
  opacity: 0.8;
}

.sidebar__toggle--bar {
  width: 32px;
}

.sidebar__toggle--svg {
  width: auto;
  height: 100%;
}

.header__user {
  position: relative;
  margin-top: -2px;
  padding: 0 12px 0 0;
}

.header__user > * {
  margin-right: 8px;
}

.header__user--inner {
  position: relative;
  cursor: pointer;
  z-index: 9;
}

.header__user--inner > * {
  margin-right: 8px;
}

.header__user--img {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background-color: var(--main-btn);
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.header__user--svg {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 14px;
}

.header__dropdown {
  position: absolute;
  display: block;
  background-color: var(--main-medium);
  margin: -1.5em 0 0 0;
  padding: calc(28px + 3em) 0 0 0;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.header__dropdown > li {
  display: block;
  height: auto;
  border-top: 1px solid var(--main-dark, black);
}

.header__dropdown > li a {
  display: block;
  padding: 8px 12px 12px;
  line-height: 1.5;
  text-decoration: none;
  text-align: center;
  color: var(--main-text);
}

.header__dropdown > li a:hover {
  background-color: var(--main-menu-bg);
  color: var(--main-dark);
}

.nav__sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 0;
  background-color: var(--main-menu-bg);
  width: 320px;
  height: auto;
  text-align: center;
}

.nav__sidebar > div {
  display: block;
  height: auto;
}

.nav__sidebar > .nav__sidebar--close {
  position: absolute;
  margin-top: -40px;
  margin-right: 12px;
  right: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: inline-block;
}

.nav__sidebar--search {
  border-bottom: 1px solid rgba(0, 0, 0.1);
  margin: 28px auto 0;
  padding-bottom: 26px;
  width: 100%;
  text-align: center;
}

.nav__sidebar--input {
  height: 28px;
}

.nav__sidebar > .nav__sidebar--list {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: scroll;
  flex-direction: column;
}

.nav__sidebar--list-title {
  margin-left: 14px;
}

.nav__sidebar ul,
.nav__sidebar li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 100%;
}

.nav__sidebar li {
  border-bottom: 1px solid var(--main-dark, black);
}

.nav__sidebar li > a {
  width: 100%;
  padding: 16px 16px 16px 28px;
  display: block;
  color: var(--main-dark, black);
  text-decoration: none;
  text-align: left;
}

.nav__sidebar li > a:hover {
  background-color: var(--main-dark, black);
  color: var(--main-text);
}

.nav__sidebar--icons {
  position: absolute;
  margin-left: 16px;
  left: 0;
}

.main__container {
  display: block;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
}

.main__dashboard {
  margin: 0 auto;
  padding: 28px;
}

.main__dashboard--inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
}

.main__dashboard--card {
  display: inline-block;
  width: 100%;
  height: 160px;
  background-color: var(--main-dark);
  color: var(--main-text);
}

.main__dashboard--card a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.main__dashboard--card a > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main__dashboard--card a:hover {
  background-color: var(--main-menu-bg);
}

.main__dashboard--card-name {
  height: 80%;
  background-color: transparent;
  padding: 20px;
  vertical-align: middle;
}

.main__dashboard--card-date {
  height: 20%;
  background-color: var(--main-text);
  color: var(--main-dark);
  border: 1px solid var(--main-menu-bg);
  padding: 20px;
  vertical-align: middle;
}

.main_profile--form > * {
  display: inline-block;
  vertical-align: top;
  margin: 28px;
}

.main__profile--img > img {
  width: 100px;
  border-radius: 50%;
}

.main__profile--details {
  display: inline-block;
}

.main__profile--details {
  display: inline-block;
}

.main--split {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 100%;
  border: 1px solid var(--main-dark);
}

.editor__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor__inner {
  display: flex;
  height: 100%;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
}

.editor__above {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  min-height: 60px;
  margin: 0;
  padding: 20px 28px;
}

.editor__saved--alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-out;
}

.editor__buttons {
  position: absolute;
  right: 0;
  width: auto;
  text-align: center;
}

.editor__buttons > button,
.editor__buttons > .button {
  position: relative;
  padding: 8px 0;
  margin-right: 28px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  min-width: 40px;
}

.tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 4px 10px;
  border: 1px solid var(--main-dark);
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-out;
}

.editor__buttons > button:hover .tooltip {
  display: block;
  top: 120%;
  left: 50%;
  transform: translate(-50%, 0);
  visibility: visible;
  opacity: 1;
}

.editor__buttons--svg {
  width: auto;
  height: 16px;
  min-width: 16px;
}

.editor__buttons--markdown {
  width: 24px;
}

.editor__title--label {
  margin: 0 0 4px 0;
}

.editor__title--input {
  width: 160px;
  height: 32px;
  font-weight: 500;
  font-size: 1.2em;
  border: none;
}

.editor__title--input:focus {
  border: none;
  border-bottom: 1px solid var(--main-hover);
  border-radius: 0;
  outline: none;
}

.editor--split {
  border-right: 1px solid #e8e8e8;
  background-color: none;
}

.editor--inner {
  height: 100%;
}

.editor--textarea {
  width: 100%;
  height: 100%;
  border: none;
  padding: 20px;
}

.editor--textarea:focus {
  border: none;
  border-radius: 0;
  outline: none;
  background-color: var(--main-hover);
}

.preview--split {
  background-color: transparent;
}

.preview--split ul {
  display: block;
  list-style: disc;
}

.preview--split li {
  display: list-item;
  list-style: disc;
  text-align: left;
}

.preview--inner {
  padding: 20px;
  height: 100%;
  overflow-wrap: break-word;
  overflow: scroll;
}

.landing {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 28px;
  justify-content: center;
  align-items: center;
}

.landing h1 {
  font-size: 72px;
  margin: 0;
}

.landing h4 {
  font-size: 20px;
  margin: 1em 0 1.5em;
}

.landing button {
  font-size: 20px;
  font-weight: 100;
  background-color: var(--main-dark);
  color: var(--main-text);
  padding: 10px 12px;
}

.login {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--main-dark);
}

.login h2 {
  margin-top: 0;
}

.login__inner {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  min-height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-dark);
  background-color: #ffffff;
}

.form__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.form__input--group {
  width: 100%;
}

.form__input--group input {
  width: 100%;
  height: 36px;
  border: 1px solid var(--main-dark);
  margin-bottom: 12px;
  padding: 0 12px;
}

.form__input--group label {
  margin-bottom: 12px;
}

.form__login button {
  margin: 20px auto;
  padding: 12px 36px;
}
