.App {
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.main--container {
  height: 100%;
}

.main--split {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  width: 50%;
  height: 100%;
  border: 1px solid black;
}

.editor--split {
  border-right: 1px solid #e8e8e8;
  background-color: none;
}

.editor--inner {
  height: 100%;
}

.editor--textarea {
  width: 100%;
  height: 100%;
  border: none;
}

.preview--split {
  background-color: lightskyblue;
}

.preview--inner {
  height: 100%;
}