/* https://www.paulirish.com/2012/box-sizing-border-box-ftw
apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
/////////////////////////////////////
Scrollbar styling
/////////////////////////////////////
*/

/* The emerging W3C standard
   that is currently Firefox-only */
  * {
  scrollbar-width: thin;
  scrollbar-color: var(--main-dark) var(--main-menu-bg);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  height: 100%;
  background: var(--main-menu-bg);
  border-left: 1px solid var(--main-dark);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--main-dark);
  border-radius: 20px;
  border: 3px solid var(--main-menu-bg);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

textarea {
  display: block;
}

pre > code {
  display: block;
  white-space: pre-wrap;
  word-break: keep-all;
}

code {
  background-color: rgba(0,0,0,0.05);
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.25);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  padding: 0.5em;
}

